/*
Error: Invalid US-ASCII character "\xEA"
        on line 2 of layout.scss

1: 
2: // 기본레이아웃 선언
3: @import 'variables';
4: $header-height: 83px;
5: $screen-tablet: 700px;
6: 
7: 

Backtrace:
layout.scss:2
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1322:in `block in find_encoding_error'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each_with_index'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `find_encoding_error'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/util.rb:930:in `check_sass_encoding'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:436:in `check_encoding!'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:392:in `_to_tree'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/gems/sass-3.4.24/bin/scss:13:in `<top (required)>'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/bin/scss:23:in `load'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/bin/scss:23:in `<main>'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/hwangseonjeong/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xEA\"\A         on line 2 of layout.scss\A \A 1: \A 2: // 기본레이아웃 선언\A 3: @import 'variables';\A 4: $header-height: 83px;\A 5: $screen-tablet: 700px;\A 6: \A 7: "; }
