<!-- 하나의 모듈 템플릿 구현 -->
{% load static %}
<article id="post-{{ post.pk }}" class="post">
  <header>
    <div class="post-header-left">
      <img src="" alt="">
      <a href="{% url 'member:profile' user_pk=post.author.pk %}">
        <span class="header-author">{{ post.author }}</span>
      </a>
    </div>
  <div class="post-header-right">

  </div>
  </header>
  <div class="post-photo-container">
    {% if type == 'list' %}
      <a href="{% url 'post:post_detail' post_pk=post.pk %}">
      <img src="{{ post.photo.url }}" alt="">
    {% else %}
        <img src="{{ post.photo.url }}" alt="">
    {% endif %}

    </a>
  </div>
    <div class="post-bottom">
      <div class="post-btn-container">
        <div class="btn-left">
          <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="post" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn">
              {% if user in post.like_users.all %}
                <img src="{% static 'images/post_like.png' %}" alt="">
              </span>
              {% else %}
                <img src="{% static 'images/post_unlike.png' %}" alt="">
              {% endif %}
              </button>
          </form>
          <a href="#">
            <img src="{% static 'images/post_comment.png' %}" alt="">
          </a>
        </div>
        <div class="btn-right">
          {% if user == post.author %}
          <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">수정하기</a>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="post-like-mention">
      {% if post.like_users.exists %}
          {% if post.like_users.count > 10 %}
          <span>좋아요 {{ post.like_count }}개</span>
          {% else %}
          <span>{{ post.like_users.all|join:', ' }}</span>님이 좋아합니다.
          {% endif %}
      {% else %}
      <span>처음으로 좋아요를 눌러보세요.</span>
      {% endif %}
      </div>

    {# 방법 2 - 메서드 정의하여 사용하기 #}
    {#    <p class="liked_username">{{ post.liked_username }}가 이 글을 좋아합니다.</p>#}
    {#  <p class="comment">좋아요 {{ post.like_count }}개</p>#}
    {#    {% if post.liked_username %}#}
    {#      <p class="liked_username">{{ post.liked_username }}가 이 글을 좋아합니다.</p>#}
    {#    {% else %}#}
    {#        <p>처음으로 좋아요를 눌러보세요!</p>#}
    {#    {% endif %}#}
        <div class="post-comment-container">
          {% if post.my_comment %}
            <!--include한 post_comment내에서 'comment'라는 이름으로 쓸 변수에는 post.my_comment 할당-->
            {% include 'include/post_comment.html' with comment=post.my_comment style='red' %}
          {% endif %}

          <!--post에 연결된 Comment목록을 for문으로 순화하며 아래 div.post_comment를 반복-->
        {% for comment in post.comment_set.all %}
          {% if comment != post.my_comment %}
            <!--include한 post_comment 내에서 이미 'comment'라는 이름을 사용중이며
            for문에서 사용하는 각 loop의 아이템 이름 'comment'와 일치-->
            {% include 'include/post_comment.html' %}
          {% endif %}
          {% endfor %}
        </div>
        <p class="created">{{ post.created_date }}</p>
        {#  <form action="">#}
        {#    <!--<input class="input-comment" type="text" placeholder="댓글을 입력하세요">-->#}
        {#  </form>#}
          {# http request 문서 참고 - request.path는 request 안에 들어있는 순수 url주소 #}
        <form action="{% url 'post:comment_create' post_pk=post.pk %}?next={{ request.path }}#post-{{ post.pk }}" method="post">
          {#  <form action="{% url 'post:comment_create' post_pk=post.pk %}?next={{ request.path }}{{ request.GET|query_string }}#post-{{ post.pk }}" method="post">#}
          {% csrf_token %}
          <!--<button type="submit" class="btn">댓글달기</button>-->
          {{ comment_form.content }}
          {# .content를 붙이면 필드명이 사라진다 #}
      </form>
  </div>
</article>
