<!-- 하나의 모듈 템플릿 구현 -->
{% load static %}
<article class="post">
  <header>
    <div class="post-header-left">
      <img src="" alt="">
      <span class="header-author">{{ post.author }}</span>
  </div>
  <div class="post-header-right">

  </div>
  </header>
  <div class="post-photo-container">
    {% if type == 'list' %}
      <a href="{% url 'post:post_detail' post_pk=post.pk %}">
      <img src="{{ post.photo.url }}" alt="">
    {% else %}
        <img src="{{ post.photo.url }}" alt="">
    {% endif %}

    </a>
  </div>
<div class="post-bottom">
  <div class="post-btn-container">
    <div class="btn-left">
      <a href="#">
        <img src="{% static 'images/post_heart.png' %}" alt="">
      </a>
      <a href="#">
        <img src="{% static 'images/post_comment.png' %}" alt="">
      </a>
    </div>
    <div class="btn-right">
      {% if user == post.author %}
      <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">수정하기</a>
      <a href="" class="btn">삭제하기</a>
      {% endif %}
    </div>
  </div>
  <p class="comment">좋아요 {{ post.like_count }}개</p>
    {% if post.liked_username %}
      <p class="liked_username">{{ post.liked_username }}가 이 글을 좋아합니다.</p>
    {% endif %}
    <div class="post-comment-container">
      {% if post.my_comment %}
        <!--include한 post_comment내에서 'comment'라는 이름으로 쓸 변수에는 post.my_comment 할당-->
        {% include 'include/post_comment.html' with comment=post.my_comment style='red' %}
      {% endif %}

      <!--post에 연결된 Comment목록을 for문으로 순화하며 아래 div.post_comment를 반복-->
    {% for comment in post.comment_set.all %}
      {% if comment != post.my_comment %}
        <!--include한 post_comment 내에서 이미 'comment'라는 이름을 사용중이며
        for문에서 사용하는 각 loop의 아이템 이름 'comment'와 일치-->
        {% include 'include/post_comment.html' %}
      {% endif %}
      {% endfor %}
    </div>
  <p class="created">{{ post.created_date }}</p>
  <form action="">
    <input class="input-comment" type="text" placeholder="댓글달기">
  </form>
</div>
</article>
