{% extends 'common/base.html' %}

{% block content %}
<a href="{% url 'member:login' %}">로그인</a>
<a href="{% url 'post:post_list' %}">로그아웃</a>
<a href="{% url 'post:post_create' %}">글쓰기</a>

{% for post in posts %}
    <!--<p>{{ post.photo }}</p>-->
    <!--<p>{{ post.photo.url }}</p>-->
    <!--<div>-->
        <!--<span>{{ post.id }}</span>-->
        <!--<span>{{ post.photo.url }}</span>-->
        <!--<img src="{{ post.photo.url }}" alt="" width="640">-->
        <!--<p>작성자 : {{ post.author }}</p>-->
        <!--<a href="{% url 'post:post_detail' post_pk=post.pk %}">-->
            <!--<p>작성일 : {{ post.created_date }}</p>-->
        <!--</a>-->
    <!--</div>-->
        {% include 'include/post.html' %}
{% endfor %}
{% endblock %}
