<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <title>Instagram</title>
</head>
<body>
  <div id="wrap">
    <header class="top-header">
      <nav>
        <div class="nav-left nav-item">
          <a href="">
            <img src="{% static 'images/logo.png' %}" alt="">
          </a>
        </div>
        <div class="nav-center nav-item">
          <input type="text" placeholder="검색">
        </div>
        <div class="nav-right nav-item">
          <a href="#">
            <img src="{% static 'images/icon_explore.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static 'images/icon_heart.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static 'images/icon_profile.png' %}" alt="">
          </a>
        </div>
      </nav>
      <nav>
        <div>
          {% if request.user.is_authenticated %}
          <p>{{ user }}가 로그인 중입니다. <a href="{% url 'member:logout' %}" class="btn">로그아웃</a></p>
          {% else %}
            <form action="{% url 'member:login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="아이디 ">
                <input type="password" name="password" placeholder="비밀번호 ">
                <!--폼에서 버튼은 만들어 주지 않는다.-->
              <button type="submit">로그인</button>
            </form>
          {% endif %}
        </div>
      </nav>
    </header>

    <!--<div class="test">-->
      <!--{% if request.user.is_authenticated %}-->
        <!--<p>{{ user }}가 로그인 중입니다. <a href="{% url 'member:logout' %}">로그아웃</a></p>-->
      <!--{% else %}-->
        <!--<a href="{% url 'member:login' %}">로그인하세요.</a>-->
      <!--{% endif %}-->
    <!--</div>-->

  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
